$grey-500: #a1a1aa;

$dark-red: #c9182b;
$red: #f23a3a;
$light-green: #e3f3ac;
$green: #44c662;

$dark1: #3a3335;
$light1: #bbacc1;

$color-primary: #451dd6;
$color-title: $green;
$color-text: $light-green;
$color-disabled: $grey-500;

$color-button-bg: #0e0051;

$color-error: #ef4444;
$color-error-light: #cc0000;
